<header>
    <nav class="navbar navbar-expand-lg">
        <div data-aos="fade-right">
            <img src="assets/img/logo.png" alt="Logo">
            <a href="#"><h1>Ro <span> Na </span></h1></a>
        </div>
        <div data-aos="fade-left">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="html/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="html/animales.html">Animales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="html/contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="html/sucursales.html">Sucursales</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- Menú hamburger para mobile -->
    <div class="hambugermobile">
        <section class="top-nav">
            <div data-aos="fade-right">
                <img src="assets/img/logo.png" alt="Logo">
                <a href="#"><h1>Ro <span> Na </span></h1></a>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            
            <ul class="menu">
                <li> <a href="html/nosotros.html">Nosotros</a> </li>
                <li> <a href="html/animales.html">Animales</a> </li>
                <li> <a href="html/contacto.html">Contacto</a> </li>
                <li> <a href="html/sucursales.html">Sucursales</a> </li>
            </ul>
        </section>
    </div>
</header>