<!-- <app-loading *ngIf="cargando"></app-loading> -->
<h1>Listado de animales</h1>
<thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Descripción</th>
        <th>Color</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let animal of Animales"  [ngClass]="animal.esViejo ? 'success' : ''">
        <td>{{animal.id}}</td>
        <td>{{animal.nombre}}</td>
        <td>{{animal.edad}}</td>
        <td>{{animal.descripcion}}</td>
        <td>{{animal.color}}</td>
        <td><button [id]="animal.id" (click)="animal.alternarGatosViejos($event)">Alternar si el gato tiene más de 5 años.</button></td>
    </tr>
</tbody>
<body>
    <div class="container">
        <div class="row">
            <form [formGroup]="contactoForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <input formControlName="nombre"  type="text" [class.is-invalid]="nombreControl.invalid && nombreControl.touched" class="form-control" name="username" id="username" placeholder="Nombre completo...">
                    <app-formularios *ngIf="nombreControl.invalid && nombreControl.touched" [formErrors]="nombreControl.errors"></app-formularios>
                </div>

                <div class="form-group">
                    <input formControlName="email" type="email" class="form-control" name="usermail" id="usermail" placeholder="E-Mail...">
                    <app-formularios *ngIf="emailControl.invalid && emailControl.touched" [formErrors]="emailControl.errors"></app-formularios>
                </div>

                <div class="form-group">
                    <input formControlName="asunto" type="text" class="form-control" name="subject" id="subject" placeholder="Asunto...">
                    <app-formularios *ngIf="asuntoControl.invalid && asuntoControl.touched" [formErrors]="asuntoControl.errors"></app-formularios>
                </div>

                <div class="form-group">
                    <textarea formControlName="cuerpo" id="message"  class="form-control" rows="4" placeholder="Escriba aquí..."></textarea>
                    <app-formularios *ngIf="cuerpoControl.invalid && cuerpoControl.touched" [formErrors]="cuerpoControl.errors"></app-formularios>
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>

            </form>
        </div>
    </div>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Asunto</th>
            <th>Cuerpo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dato of mailsEnviados">
            <td>{{dato.nombre}}</td>
            <td>{{dato.email}}</td>
            <td>{{dato.asunto}}</td>
            <td>{{dato.cuerpo}}</td>
        </tr>
    </tbody>
</body>
