$fuenteprin: 'Gotham', sans-serif;
$fuenteheader: 'Gotham Black', sans-serif;
$fuenteheaderlinks: 'Gotham Light', sans-serif;

*{
    font-family: $fuenteprin;
    margin: 0;
    padding: 0;
}
$colores: (
    colorbody: #ba957d,
    colorfooter: #F2EFC7,
);
body{
    line-height: 1.3;
    display: inline;
    background-color: map-get($colores, colorbody);
    h2{
        text-align: center;
    }
    h3{
        text-align: left;
    }
    img:hover{
        transform: scale(1.1);
        transition: 1s;
    }
}